---
import Layout from '../layouts/Layout.astro';
import Textboxes from '../components/Textboxes.astro';
---

<Layout title="أداة الكتابة بالعربي">
	<main class="min-h-screen bg-blue-950 text-white flex flex-col justify-center py-12 sm:px-6 lg:px-8">
		<div class="sm:mx-auto sm:w-full sm:max-w-md">
			<img class="mx-auto h-10 w-auto" src="https://www.svgrepo.com/show/301692/login.svg" alt="Workflow">
			<h2 class="mt-6 text-center text-3xl leading-9 font-extrabold ">
				مرحباً بك في آداة الكتابة بالعربي
			</h2>
		</div>

		<Textboxes />
	</main>
</Layout>
