---
import Layout from '../layouts/Layout.astro';
import MainContent from '../components/MainContent.astro';
import Keywords from '../components/Keywords.astro';
import SideMenu from '../components/SideMenu.astro';
import Header from '../components/Header.astro';
import {site_title} from '../assets/data/config.json'
---

<Layout title={site_title}>
	<div class="lg:container lg:mx-auto">
		<Header />

		<main class="">
			<MainContent />
		</main>

		<footer class="py-6">
			<Keywords />
			
		</footer>

		<div id="loading" class="fixed inset-0 bg-indigo-950 z-50 flex items-center justify-center">
			<div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-purple-500"></div>
		</div>

		<script>
			window.addEventListener('load', () => {
				document.getElementById('loading')?.classList.add('hidden');
			});
		</script>

	</div>
	
</Layout>
