---

---

<div
	class="
	shadow sm:rounded-lg p-0.5 relative
	 overflow-hidden rounded-lg
	 group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800"
>
	<div class="relative px-5 py-2.5 bg-indigo-950 bg-opacity-50 rounded-md">
		<slot />
	</div>
</div>
