---

---
<div class="py-4">
    <img class="mx-auto h-10 w-auto" src="https://www.svgrepo.com/show/301692/login.svg" alt="Workflow">
    <h1 class="mt-6 text-center text-3xl leading-9 font-extrabold ">
        مرحباً بك في آداة الكتابة بالعربي
    </h1>
    <div>
        <img src="https://komarev.com/ghpvc/?username=mo9a7i-arabic-typer&label=PAGE-VIEWS&base=1000&abbreviated=true" alt="mo9a7i-arabic-typer" />
    </div>
</div>