---
import {keywords} from '../assets/data/config.json'
---
<!-- keywords div, that are styled like hashtags for SEO purposes  -->

<ul class="mt-2 text-md flex flex-wrap items-center justify-center gap-1">
    {keywords.map(keyword => (
        <li class="bg-slate-950 bg-opacity-20 p-1 rounded"><span class="">{keyword}</span></li>
    ))}
    
</ul>