---
import * as dotenv from 'dotenv';
import SideCard from './SideCard.astro';
import { discord_servers_invites, youtube_videos } from '../assets/data/config.json';
dotenv.config();
let discord_servers = [];
import { Client, GatewayIntentBits } from 'discord.js';
const client = new Client({ intents: [GatewayIntentBits.Guilds] });

try {
    client.login(process.env.token);
} catch (error) {
    console.log(error);
}


for(let server of discord_servers_invites) {
    try{
        const {guild} = await client.fetchInvite(server);
        const server_info = {
            id: guild.id,
            name: guild.name,
            description: guild.description,
            icon: guild.iconURL(),
            splash: guild.splashURL(),
            banner: guild.bannerURL(),
            invite_url: server,
        };
        discord_servers.push(server_info);
       // console.log(server_info);

    } catch (error) {
        console.log(error);
    }
};

console.log(discord_servers);

---

<div>

    <div class="mb-10">
        <h3 class="text-2xl font-bold py-2">فديوات مفيدة</h3>
        <div class="grid grid-cols-2 gap-3">
        
            {youtube_videos.map((video) => (
               <SideCard info={{
                    'thumbnail': video.thumbnail,
                    'title': video.title,
                    'description': null,
                    'url': video.url,
                    'link_text': 'شاهد',
               }} />
            ))}
        </div>

    </div>

    <div class="mb-10">
        <h3 class="text-2xl font-bold py-2">سيرفرات ديسكورد صديقة</h3>
        <div class="grid grid-cols-2 gap-3">
        
            {discord_servers.map((server) => (
                <SideCard info={{
                    'thumbnail':  server.banner,
                    'title': server.name,
                    'description': null,
                    'url': server.invite_url,
                    'link_text': 'انضم',
                }} />
            ))}
        </div>
    </div>

    
    
</div>

<script></script>
