---
import { Icon } from 'astro-icon/components';
---

<h2 class="text-3xl font-medium">روابط</h2>
<ul class="mt-2 text-md flex flex-wrap items-center gap-1">
	<li class="bg-slate-950 hover:bg-blue-800 bg-opacity-20 p-1 rounded"><a href="https://mohannadotaibi.com" class=""><Icon name="mdi:account-badge" class="inline me-1" />المطور</a></li>
	<li class="bg-slate-950 hover:bg-blue-800 bg-opacity-20 p-1 rounded"><a href="https://discord.gg/HxMrgzBt" class=""><Icon name="mdi:discord" class="inline me-1" />سيرفر الدسكورد</a></li>
	<li class="bg-slate-950 hover:bg-blue-800 bg-opacity-20 p-1 rounded">
		<a href="https://github.com/mo9a7i/ts_astro_arabic_reverse_typing" class=""><Icon name="mdi:github" class="inline me-1" /> المشروع على GitHub</a>
	</li>
	<li class="bg-slate-950 hover:bg-blue-800 bg-opacity-20 p-1 rounded">
		<a href="https://github.com/mo9a7i/ts_astro_arabic_reverse_typing/issues" class=""><Icon name="mdi:help-circle" class="inline me-1" /> تبليغ عن مشكلة أو إقتراح</a>
	</li>
</ul>
