---
import { Icon } from 'astro-icon/components'
import Keywords from './Keywords.astro';

---

<div class="">
    <div class="py-8 bg-blue-900 px-4 shadow sm:rounded-lg sm:px-10">
        <div class="">
            <label for="area" class="block font-medium text-3xl">اكتب هنا</label>
            <div class="mt-1 relative rounded-md shadow-sm">
                <textarea id="area" name="area" class="text-gray-700 appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" rows="4" cols="50"></textarea>
            </div>
        </div>

        <div class="mt-6">
            <label for="area2" class="block font-medium text-3xl">وانسخ من هنا</label>
            <div class="mt-1 rounded-md shadow-sm">
                <textarea id="area2" name="area2" class="text-gray-700 appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:leading-5" rows="4" cols="50" readonly></textarea>
            </div>
        </div>

        <div class="mt-6">
            <span class="block w-full rounded-md shadow-sm">
                <button id="copyButton" type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">نسخ</button>
                <p>بعد النسخ قم باللصق في التطبيق الذي تريد إستخدام النص فيه</p>
            </span>
        </div>
    </div>

    <div class="mt-6">
        <div class="bg-blue-900 bg-opacity-50 px-4 py-4 shadow sm:rounded-lg sm:px-10">
            <h3 class="text-3xl font-medium">ما هذه الأداة</h3>
            <p class="mt-2 text-md">هذه الأداة تقوم بتحويل النص العربي إلى النص الذي يمكن نسخه ولصقه في البرامج التي لا تدعم النص العربي.</p>
            <p class="mt-2 text-md">مثلاً، يمكنك استخدام هذه الأداة لنسخ النص العربي إلى فوتوشوب، كول اوف ديوتي، ببجي وأي برنامج لايدعم اللغة العربية.</p>
        </div>
</div>
<!-- a div that contains social links to the developer, discord server, github page for the project ...etc -->

<div class="social-links">
    <div class="mt-6">
        <div class="bg-blue-900 bg-opacity-50 px-4 py-4 shadow sm:rounded-lg sm:px-10">
            <h3 class="text-3xl font-medium">روابط</h3>
            <ul class="mt-2 text-md flex flex-wrap items-center  gap-1">
                <li class="bg-slate-950 bg-opacity-20 p-1 rounded"><a href="https://mohannadotaibi.com" class=""><Icon name="mdi:account-badge" class="inline me-1" />المطور</a></li>
                <li class="bg-slate-950 bg-opacity-20 p-1 rounded"><a href="https://discord.gg/HxMrgzBt" class=""><Icon name="mdi:discord" class="inline me-1" />سيرفر الدسكورد</a></li>
                <li class="bg-slate-950 bg-opacity-20 p-1 rounded"><a href="https://github.com/mo9a7i/ts_astro_arabic_reverse_typing" class=""><Icon name="mdi:github" class="inline me-1" /> المشروع على GitHub</a></li>
                <li class="bg-slate-950 bg-opacity-20 p-1 rounded"><a href="https://github.com/mo9a7i/ts_astro_arabic_reverse_typing/issues" class=""><Icon name="mdi:help-circle" class="inline me-1" /> تبليغ عن مشكلة أو إقتراح</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="keywords">
    <div class="mt-6">
        <div class="bg-blue-900 bg-opacity-50 px-4 py-4 shadow sm:rounded-lg sm:px-10">
            <h3 class="text-3xl font-medium">كلمات بحث</h3>
            <Keywords />
            
        </div>
    </div>
    
</div>

<script src="../assets/js/arabic_shaper.ts"></script>
<script>
    // the button should copy to clipboard using clipboard api

    const button = document.querySelector("#copyButton") as HTMLButtonElement;
    button.addEventListener("click", async () => {
        const area2 = document.querySelector("#area2") as HTMLTextAreaElement;
        try {
            await navigator.clipboard.writeText(area2.value);
        } catch (err) {
            console.error("Failed to copy text: ", err);
        }
    });
</script>
