---

---

<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-xl">
    <div class="py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <div class="">
            <label for="area" class="block font-medium text-3xl">اكتب هنا</label>
            <div class="mt-1 relative rounded-md shadow-sm">
                <textarea id="area" name="area" class="text-gray-700 appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" rows="4" cols="50"></textarea>
            </div>
        </div>

        <div class="mt-6">
            <label for="area2" class="block font-medium text-3xl">وانسخ من هنا</label>
            <div class="mt-1 rounded-md shadow-sm">
                <textarea id="area2" name="area2" class="text-gray-700 appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:leading-5" rows="4" cols="50" readonly></textarea>
            </div>
        </div>

        <div class="mt-6">
            <span class="block w-full rounded-md shadow-sm">
                <button id="copyButton" type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">نسخ</button>
            </span>
        </div>
    </div>
</div>

<script src="../assets/arabic_shaper.ts"></script>
<script>
    // the button should copy to clipboard using clipboard api

    const button = document.querySelector("#copyButton") as HTMLButtonElement;
    button.addEventListener("click", async () => {
        const area2 = document.querySelector("#area2") as HTMLTextAreaElement;
        try {
            await navigator.clipboard.writeText(area2.value);
        } catch (err) {
            console.error("Failed to copy text: ", err);
        }
    });
</script>
