---

---
<div class="mt-6">
    <div class="bg-blue-900 bg-opacity-50 px-4 py-4 shadow sm:rounded-lg sm:px-10">
        <h3 class="text-3xl font-medium">ما هذه الأداة</h3>
        <p class="mt-2 text-md">هذه الأداة تقوم بتحويل النص العربي إلى النص الذي يمكن نسخه ولصقه في البرامج التي لا تدعم النص العربي.</p>
        <p class="mt-2 text-md">مثلاً، يمكنك استخدام هذه الأداة لنسخ النص العربي إلى فوتوشوب، كول اوف ديوتي، ببجي وأي برنامج لايدعم اللغة العربية.</p>
    </div>
</div>