---

---

<h2 class="text-3xl font-medium">ما هذه الأداة</h2>
<p class="mt-2 text-md">هذه الأداة تقوم بتحويل النص العربي إلى النص الذي يمكن نسخه ولصقه في البرامج التي لا تدعم النص العربي.</p>
<p class="mt-2 text-md">مثلاً، يمكنك استخدام هذه الأداة لنسخ النص العربي إلى فوتوشوب، كول اوف ديوتي، ببجي وأي برنامج لايدعم اللغة العربية.</p>
