---
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="ar" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="أداة تحويل النصوص العربية بالمعكوس للإستخدام في البرامج. تحية لمازن، العنزي، بيرل، رشاد، مطلق، بلدوزر وشلة الأنس " />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="مهند العتيبي" />
		<meta name="keywords" content="arabic, arabic language,arabic language course,text,reshape,reverse,characters,photoshop,non arabic support,programs,applications,call of duty,mwz,modern warfare,modern warfare 2,modern warfare 3,mw2,mw3,mw,discord,compile,write,type,free,transform,change,translation,adobe,string,unicode,عربي,لغة عربية,دورة لغة عربية,نص,تغيير,عكس,حروف,فوتوشوب,دعم غير عربي,برامج,تطبيقات,نداء الواجب,حرب حديثة,حرب حديثة 2,حرب حديثة 3,حرب حديثة 2,حرب حديثة 3,حرب حديثة,ديسكورد,تجميع,كتابة,كتابة,مجاني,تحويل,تغيير,ترجمة,أدوبي,كول اوف ديوتي,مودرن وارفير,مودرن وارفير 2,مودرن وارفير 3,مودرن وارفير 2,مودرن وارفير 3,pubg,free fire" />
		
		<!-- social media description title and image  -->
		<meta property="og:title" content="أداة تحويل النصوص العربية بالمعكوس" />
		<meta property="og:description" content="أداة تحويل النصوص العربية بالمعكوس للإستخدام في البرامج. تحية لمازن، العنزي، بيرل، رشاد، مطلق، بلدوزر وشلة الأنس" />
		<meta property="og:image" content="https://raw.githubusercontent.com/mo9a7i/ts_astro_arabic_reverse_typing/main/social.png" />
		<meta property="og:url" content="https://mo9a7i.github.io/ts_astro_arabic_reverse_typing/" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="ar_SA" />
		<meta property="og:site_name" content="أداة تحويل النصوص العربية بالمعكوس" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:alt" content="أداة تحويل النصوص العربية بالمعكوس" />

		<!-- twitter description title and image  -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@bufai7an" />
		<meta name="twitter:creator" content="@bufai7an" />
		<meta name="twitter:title" content="أداة تحويل النصوص العربية بالمعكوس" />
		<meta name="twitter:description" content="أداة تحويل النصوص العربية بالمعكوس للإستخدام في البرامج. تحية لمازن، العنزي، بيرل، رشاد، مطلق، بلدوزر وشلة الأنس" />
		<meta name="twitter:image" content="https://raw.githubusercontent.com/mo9a7i/ts_astro_arabic_reverse_typing/main/social.png" />
		<meta name="twitter:image:alt" content="أداة تحويل النصوص العربية بالمعكوس" />
		<meta name="twitter:image:src" content="https://raw.githubusercontent.com/mo9a7i/ts_astro_arabic_reverse_typing/main/social.png" />
		<meta name="twitter:url" content="https://mo9a7i.github.io/ts_astro_arabic_reverse_typing/" />
		<title>{title}</title>
	</head>
	<body class="text-white">
		<slot />
	</body>
</html>